{{- /* Environment detection with optional prompt */ -}}

{{- /* Tool detection */ -}}
{{- $hasSlurm := false -}}
{{- $hasSft := false -}}

{{- if lookPath "squeue" -}}
{{-   $hasSlurm = true -}}
{{- end -}}

{{- if lookPath "sft" -}}
{{-   $hasSft = true -}}
{{- else if stat "/usr/local/bin/sft" -}}
{{-   $hasSft = true -}}
{{- end -}}

{{- /* Determine environment type */ -}}
{{- $envType := "" -}}
{{- $isNixOS := stat "/etc/NIXOS" -}}
{{- if $hasSlurm -}}
{{-   $envType = "hpc" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $envType = "macos" -}}
{{- else if $isNixOS -}}
{{-   $envType = "nixos" -}}
{{- else if eq .chezmoi.os "windows" -}}
{{-   $envType = "windows" -}}
{{- else if env "WSL_DISTRO_NAME" -}}
{{-   $envType = "wsl" -}}
{{- else if stdinIsATTY -}}
{{-   $envType = promptChoiceOnce . "envType" "Environment type" (list "linux" "wsl" "hpc" "nixos" "windows") -}}
{{- else -}}
{{-   $envType = "linux" -}}
{{- end -}}

{{- /* Derived flags */ -}}
{{- $isHPC := eq $envType "hpc" -}}
{{- $isWSL := eq $envType "wsl" -}}
{{- $isDarwin := eq $envType "macos" -}}
{{- $isLinux := or (eq $envType "linux") (eq $envType "nixos") -}}
{{- $isNixOS := eq $envType "nixos" -}}
{{- $isWindows := eq $envType "windows" -}}
{{- $isSSH := ne (env "SSH_CONNECTION") "" -}}
{{- $isHeadless := or $isHPC $isSSH (and $isNixOS (not (stdinIsATTY))) -}}

[data]
name = "Craig Russell"
email = "craig.russell.phd@gmail.com"
envType = {{ $envType | quote }}
isHPC = {{ $isHPC }}
isWSL = {{ $isWSL }}
isDarwin = {{ $isDarwin }}
isLinux = {{ $isLinux }}
isNixOS = {{ $isNixOS }}
isSSH = {{ $isSSH }}
isWindows = {{ $isWindows }}
isHeadless = {{ $isHeadless }}
hasSlurm = {{ $hasSlurm }}
hasSft = {{ $hasSft }}
