{{- /* Environment detection with optional prompt */ -}}

{{- /* Tool detection */ -}}
{{- $hasSlurm := false -}}
{{- $hasSft := false -}}

{{- if lookPath "squeue" -}}
{{-   $hasSlurm = true -}}
{{- end -}}

{{- if lookPath "sft" -}}
{{-   $hasSft = true -}}
{{- else if stat "/usr/local/bin/sft" -}}
{{-   $hasSft = true -}}
{{- end -}}

{{- /* Determine environment type */ -}}
{{- $envType := "" -}}
{{- $isNixOS := stat "/etc/NIXOS" -}}
{{- if $hasSlurm -}}
{{-   $envType = "hpc" -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-   $envType = "macos" -}}
{{- else if $isNixOS -}}
{{-   $envType = "nixos" -}}
{{- else if env "WSL_DISTRO_NAME" -}}
{{-   $envType = "wsl" -}}
{{- else if stdinIsATTY -}}
{{-   $envType = promptChoiceOnce . "envType" "Environment type" (list "linux" "wsl" "hpc" "nixos") -}}
{{- else -}}
{{-   $envType = "linux" -}}
{{- end -}}

{{- /* Derived flags */ -}}
{{- $isHPC := eq $envType "hpc" -}}
{{- $isWSL := eq $envType "wsl" -}}
{{- $isDarwin := eq $envType "macos" -}}
{{- $isLinux := or (eq $envType "linux") (eq $envType "nixos") -}}
{{- $isNixOS := eq $envType "nixos" -}}
{{- $isSSH := ne (env "SSH_CONNECTION") "" -}}
{{- $isHeadless := or $isHPC $isSSH (and $isNixOS (not (stdinIsATTY))) -}}

{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email" -}}

encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age18hj3luujpmvf4n7k9e60xumfzc06nf5wdupehy380hrghplxjctqvzffus"

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
envType = {{ $envType | quote }}
isHPC = {{ $isHPC }}
isWSL = {{ $isWSL }}
isDarwin = {{ $isDarwin }}
isLinux = {{ $isLinux }}
isNixOS = {{ $isNixOS }}
isSSH = {{ $isSSH }}
isHeadless = {{ $isHeadless }}
hasSlurm = {{ $hasSlurm }}
hasSft = {{ $hasSft }}
