[user]
	name = {{ .name }}
	email = {{ .email }}

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[init]
	defaultBranch = main

[pull]
	rebase = false

[core]
	autocrlf = input
